@page
@model UniversidadClase.Pages.Estudiantes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Estudiante</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estudiante.ApellidoPaterno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estudiante.ApellidoPaterno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estudiante.ApellidoMaterno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estudiante.ApellidoMaterno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estudiante.FechaEnrolamiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estudiante.FechaEnrolamiento)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Estudiante?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
